
.mat-card-form{
    width:770px;padding: 0px;border-radius: 5px;border-top-left-radius: 5px;border: solid red 1px;
}
.mat-card-form-header{
    border-top-right-radius: 5px;border-top-left-radius: 5px;
}

table {
    border-collapse: collapse;margin: 0 auto;border: 1px solid yellow;width:250px
}
table th {
    text-align: center;width:100%;
}    
table td, table th {
    border: 1px solid yellow;
}