
.subHeadingsBarOuter{
    width:100%;
    background-color: green;
}

.subHeadingsBarInner{
    width:75%;
    background-color: green;
    padding: 5px;
}

.div-button{
    background-color: darkorange;
    color: blue;
    border-radius: 2%;
    text-align:center;
    padding: 3px;
    display: inline-block;
    border:2px solid white;
}  

.ContentDiv{
    width:90%;
    margin: auto;
    background-color: yellow;
}